@import "partials";

.company-products-container {
   .products-container-main-categories__crm {
      margin-bottom: 30px;

      a {
         width: 32%;

         button {
            width: 100%;
         }
      }
   }

   .company-products-container__main {
      margin-bottom: 40px;

      .products-container-main__categories {
         width: 23%;
         
         .products-container-main-categories__title {
            -webkit-box-shadow: 0 5px 10px #ccc;
         }

         .products-container-main-categories__box {
            border: 1px solid $border_color;

            .company-products-container-main-box-categories__itaem {
               border-bottom: 1px solid $border_color;
               display: block;
               transition: all 0.3s;
               cursor: pointer;
               padding: 10px;

               &:last-child {
                  border-bottom: none;
               }

               &:hover {
                  background: $border_color;
               }
            }
         }
      }

      .products-container-main__news {
         width: 54%;
         position: relative;

         &:hover {
            .products-container-main-news__left-stick,
            .products-container-main-news__right-stick {
               background: rgba(255, 255, 255, 0.8);
            }
         }

         .products-container-main-news__left-stick,
         .products-container-main-news__right-stick {
            background: rgba(255, 255, 255, 0.6);
            color: $primary_font;
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            transition: all 0.3s;
            z-index: 999;

            &:hover {
               background: rgba(255, 255, 255, 1);
               color: $primary_font;
            }
         }

         .products-container-main-news__left-stick {
            left: 20px;
         }

         .products-container-main-news__right-stick {
            right: 20px;
         }

         .ant-carousel .slick-slide img {
            width: 100%;
         }
      }

      .products-container-main__auth {
         width: 22%;
         border: 1px solid $border_color;
         padding: 50px 30px 20px;
         text-align: center;

         .products-container-main-auth__title {
            font-size: 20px;
            line-height: 1.3;
         }

         .products-container-main-auth__action {
            margin: 40px 0 30px;

            .products-container-main-auth-action__sign-in {
               margin-top: 20px;
            }

            .products-container-main-auth-action__sign-up {
               margin-top: 15px;
               font-size: 14px;
               font-weight: 600;
               color: $primary_font;
               cursor: pointer;
               display: block;

               &:hover {
                  text-decoration: underline;
               }
            }

            .products-container-main-auth-action__greet {
               font-weight: 600;
               color: $primary_font;
               font-size: 17px;
            }

            .products-container-main-auth-action__list {
               margin-top: 40px;
               text-align: left;

               .products-container-main-auth-action-list__item {
                  margin-bottom: 5px;

                  &:last-child {
                     margin-bottom: 0;
                  }

                  &:hover {
                     .products-container-main-auth-action-list-item__pg {
                        text-decoration: underline;
                     }
                  }

                  .products-container-main-auth-action-list-item__mLogo {
                     color: $theme_color;
                     font-size: 20px;
                     width: 30px;
                  }

                  .products-container-main-auth-action-list-item__pg {
                     width: 120px;
                     color: $primary_font;
                     font-size: 14px;
                  }

                  .products-container-main-auth-action-list-item__sLogo {
                     width: 30px;
                     margin-top: 1px;
                     font-size: 13px;
                     text-align: right;
                  }
               }
            }
         }
      }
   }

   .company-products-container__list {
      .company-products-container-list__item {
         margin-bottom: 40px;

         &:last-child {
            margin-bottom: 0;
         }

         .company-products-container-list-item__products {
            .company-products-container-list-item-products__item {
               width: 16.66%;
               position: relative;
               border: 1px solid transparent;
               text-align: center;
               cursor: pointer;
               transition: all 0.2s;
               padding: 15px;

               &:hover {
                  border-color: $border_color;
               }

               .company-products-container-list-item-products-item__img {
                  width: 150px;
                  height: 150px;
                  margin: 0 auto;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                     width: 100%;
                  }
               }

               .company-products-container-list-item-products-item__name {
                  color: $primary_font;
                  font-size: 16px;
                  font-weight: 400;
                  margin-bottom: 10px;
               }

               .company-products-container-list-item-products-item__price {
                  font-size: 26px;
                  color: $primary_font;
                  font-weight: 600;
                  margin-top: 10px;
               }

               .company-products-container-list-item-products-item__category {
                  font-size: 15px;
                  margin-bottom: 50px;
                  text-align: left;
               }

               .company-products-container-list-item-products-item__buy {
                  position: absolute;
                  left: 0;
                  right: 0;
                  bottom: 20px;

                  button:first-child {
                     margin-right: 15px;
                  }
               }
            }
         }
      }
   }
}

.update-categories-container {
   width: 50%;
}

.update-categories-container {
   .update-categories-container__list {
      .update-categories-container-list__item {
         margin-bottom: 20px;

         span {
            margin-left: 10px;
            font-size: 18px;
            cursor: pointer;

            &:hover {
               color: $red_color;
            }
         }

         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   .update-categories-container__create {
      margin-top: 20px;

      button {
         margin-right: 10px;
      }
   }
}

.update-products-container {
   .update-products-container__create {
      margin-bottom: 30px;
   }

   .update-products-category-list {
      border-bottom: 1px solid $border_color;
      padding-top: 10px;
   }

   .update-products-container__list {
      display: flex;

      .update-products-container-list__item {
         display: block;
         width: 20%;
         text-align: center;
         border-right: 1px solid $border_color;
         padding: 15px 10px 20px;
         border-top: 1px solid $border_color;
         cursor: pointer;
         transition: all 0.2s;

         &:hover {
            box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
         }

         &:nth-child(1),
         &:nth-child(2),
         &:nth-child(3),
         &:nth-child(4),
         &:nth-child(5), {
            border-top: none;
         }

         &:nth-child(5n) {
            border-right: none;
         }

         .update-products-container-list-item__img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            overflow: hidden;

            //img {
            //   width: 100%;
            //
            //}
         }

         .update-products-container-list-item__title {
            font-size: 16px;
            margin: 10px 0;
         }

         .update-products-container-list-item__price {
            font-size: 20px;
            font-weight: 600;
            color: $primary_font;
            margin-bottom: 10px;
         }

         .update-products-container-list-item__count {
            text-align: left;
            line-height: 1.2;
            margin-bottom: 7px;

            span {
               font-weight: 600;
            }
         }
      }
   }
}

.update-products-container-modal {
   .update-products-container-modal__field {
      margin-bottom: 15px;

      p {
         margin-bottom: 7px;
      }
   }
}