@import "partials";

.navigation {
   padding-top: 10px;
   padding-bottom: 15px;
   border-bottom: 1px solid $border_color;
   @include centeredContainer($main_wrapper_width);
   background: $main_wrapper_color;

   .navigation-main {
      padding-left: 30px;

      .navigation-main__logo {
         font-size: 24px;
         font-style: italic;
         color: $primary_font;
         cursor: pointer;
         font-weight: 600;
         transition: all 0.5s;

         &:hover {
            text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
         }
      }

      .navigation-main__search {
         width: 308px;
         margin-left: 20px;
      }

      .navigation-main__menu {
         margin-top: 15px;

         .navigation-main-menu__item {
            @include defaultListMargin(20px);

            .navigation-main-menu-item__link {
               color: $primary_font;
               transition: all 0.1s;
               @include defaultListHover(none, $theme_color);
            }
         }
      }
   }

   .navigation-user {
      padding-right: 30px;

      .navigation-user-info {
         margin-bottom: 15px;
         text-align: right;

         .navigation-user-info__link {
            color: $primary_font;
            transition: all 0.1s;
            @include defaultListHover(none, $theme_color);

            .navigation-user-info-link__desc {
               margin-right: 10px;
            }
         }
      }

      .navigation-user-desc {
         .navigation-user-desc__link {
            text-align: center;
            color: rgba(0, 0, 0, 0.45);
            padding-right: 10px;
            border-right: 1px solid $border_color;
            @include defaultListMargin(10px);
            @include defaultListHover(none, $theme_color);

            &:last-child {
               border-right: none;
            }

            .navigation-user-desc-link__icon {
               font-size: 24px;
            }
         }
      }
   }
}