@import "partials";

.home-container {
   .home-container__nav {
      margin-bottom: 30px;

      .home-container-nav__title {
         margin-bottom: 0;
      }

      .home-container-nav__field {
         width: 30%;
      }
   }

   .home-container__companies {
      .home-container-companies__item {
         width: 299px;
         vertical-align: top;
         margin: 0 11px 20px;

         .home-container-companies-item__more {
            margin-top: 20px;
         }
      }
   }
}