$main_bg_color: #F6F5F3;
$main_wrapper_color: #fff;
$primary_font: #282828;
$secondary_font: #808080;
$desc_font: #8f9ca4;
$white_color: #fff;
$border_color: #e5e5e5;
$theme_color: #1890FF;
$red_color: #FF4D4F;

$main_wrapper_width: 1440px;
$auth_container_with: 400px;

@mixin centeredContainer($width) {
   max-width: $width;
   margin: 0 auto;
}

@mixin defaultListHover($bg_color, $font_color) {
   transition: all 0.3s;

   &:hover {
      background: $bg_color;
      color: $font_color;
   }
}

@mixin defaultListMargin($margin) {
   margin-right: $margin;

   &:last-child {
      margin-right: 0;
   }
}

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.flex-wrap {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.j-sb {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.j-se {
   justify-content: space-evenly;
}

.j-center {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.fa-center {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.fa-bottom {
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
}

.fd-column {
   flex-direction: column;
}