@import "partials";
@import "company-products";
@import "category-detail";
@import "product-detail";
@import "company-list";
@import "personal";
@import "profile";
@import "header";
@import "wishes";
@import "home";
@import "auth";
@import "cart";

html, body {
   background: $main_bg_color !important;
   font-size: 15px !important;
}

.wrapper {
   @include centeredContainer($main_wrapper_width);
   background: $main_wrapper_color;
   height: 86.5vh;
}

.wrapper-breadcrumbs {
   padding: 20px 30px 0 30px;
}

.wrapper-color {
   background: $main_wrapper_color;
   padding: 20px 30px 100px 30px;
}

body ul, body li, body p,
body h1, body h2, body h3,
body h4, body h5, body h6 {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.breadcrumbs {
   margin-bottom: 10px;
}

.hidden-root {
   .navigation,
   .wrapper {
      display: none;
   }
}